[Translation]
File=getcal-nct
Context=Getcal

[Desktop Entry]
Comment[]=An application to get online calendars
Exec=getcal
Icon=getcal/getcal
Type=Application
Name[]=Getcal
